
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#locationButton,
#downloadMapButton {
    background: linear-gradient(135deg, #6a5acd, #8a2be2);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#locationButton:hover,
#downloadMapButton:hover {
    background: linear-gradient(135deg, #8a2be2, #6a5acd);
    transform: translateY(-3px);
}

#locationButton:active,
#downloadMapButton:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#controls {
    margin-bottom: 20px;
}

#map-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.map-section {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#map,
#mapImage,
#puzzleArea,
#solutionArea {
    width: 100%;
    height: 100%;
}

#puzzleArea {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#solutionArea {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

.puzzle-piece {
    border: 1px solid #000;
    background-size: 400px 400px;
    cursor: move;
}

.solution-slot {
    width: 25%;
    height: 25%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.notification {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
}